.conference {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .conference {
    width: 48%;
  }
}

@media screen and (max-width: 800px) {
  .conference {
    width: 100%;
  }

  .container {
    flex-direction: column;
    gap: 30px;
  }
}