.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 50px 10%;
  background: linear-gradient(white 88%, rgba(111, 203, 249, .8));
  color: rgb(111, 203, 249);

  & h4 {
    font-size: 30px;
    max-width: 450px;
  }

  & ul {
    text-align: start;
  }

  &__second {
    background: rgba(111, 203, 249, .8);
    color: white;
  }

  &__third {
    background: linear-gradient(rgba(111, 203, 249, .8), white 12%);
  }
}

.image {
  width: auto;
  height: auto;
  max-height: 500px;
  max-height: 500px;
  transition: all 1s;
  opacity: 0;
  transform: translateY(70px);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 1s;
  opacity: 0;
  transform: translatex(-70px);
}

.link {
  text-decoration: none;
  color: white;
}

.button {
  font-size: 30px;
  padding: 15px 40px;
  margin-top: 30px;
  background-color: rgba(111, 203, 249, .8);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(111, 203, 249, 1);
  }

  &__api {
    background-color: rgba(255, 255, 255, .8);
    color: rgb(111, 203, 249);

    &:hover {
      background-color: white;
    }
  }
}

.active {

  &__image {
    opacity: 1;
    transform: translateY(0);
  }

  &__text {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  .image {
    max-height: 300px;
    max-height: 300px;
  }

  .section {
    font-size: 18px;
    padding: 30px 10%;
  
    & h4 {
      font-size: 25px;
      max-width: 350px;
    }
  }

  .button {
    font-size: 25px;
    padding: 10px 30px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .section {
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    background: linear-gradient(white 95%, rgba(111, 203, 249, .8));

    &__second {
      flex-direction: column-reverse;
      background: rgba(111, 203, 249, .8);
    }

    &__third {
      background: linear-gradient(rgba(111, 203, 249, .8), white 5%);
    }
  }
}