.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
}

.header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 650px) {
  .logo {
    display: none;
  }

  .container {
    border-bottom: 2px solid rgb(111, 203, 249);
  }

  .header {
    width: 100%;
    justify-content: center;
  }
}