.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  font-size: 18px;
}

.icon {
  margin-right: 5px;
}

.link {
  text-decoration: none;
  color: rgb(111, 203, 249);
  transition: all .2s;

  &:hover {
    color: rgb(58, 175, 234);
  }
}

.logo {
  height: 160px;
  width: auto;
}

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .logo {
    height: auto;
    width: 250px;
  }
}