.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}