.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgba(111, 203, 249, .5);
  border-radius: 10px;
  transition: all .2s;

  &:hover {
    background-color: rgb(111, 203, 249);
  }
}

.alt {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 850px) {
  .placeholder {
    width: 250px;
    height: 250px;
  }
}