.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & li {
    cursor: pointer;
    
    & span {
      transition: all .2s;
    }
      
    &:hover {
      & span {
        color: rgb(111, 203, 249);
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 18px;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & h4 {
    color: rgb(111, 203, 249);
  }
}