.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 240px;
  align-items: flex-start;

  & li {
    cursor: pointer;
    
    & span {
      transition: all .2s;
    }
      
    &:hover {
      & span {
        color: rgb(111, 203, 249);
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 18px;
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 2px dotted rgb(111, 203, 249);

  & h4 {
    color: rgb(111, 203, 249);
    font-size: 25px;
  }
}